

.about.site-banner-bg {
  background-image: url(../../assets/about-bubba.jpeg);
  background-position: center -215px;
 }

@media only screen and (max-width:800px) {

  .about.site-banner-bg {
    background-position: center -70px;
  }
}